@import "../../global.scss";

.intro{
    background-color: $secondaryColor;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    position: relative;

    .intro-left{
        flex: 1;
        overflow: hidden;

        .intro-left-cont{
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h2{
                font-size: 35px;
            }
            p{
                font-size: 20px;
            }

            .btn-sewa{
                width: 150px;
                height: 30px;
                margin: 10px 0;
                color: white;
                background-color: #5CB85F;
                border: none;
                border-radius: 5px;
                font-weight: 500;
                cursor: pointer;

                &:focus{
                    outline: none;
                }
            }
        }
    }
    .intro-right{

        flex: 1;
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;

    }
}